<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Quiz App</title>
</head>
<body>
    <h1>CreateQuiz</h1>
    <form>
        <input type="text" name="Question" placeholder="Enter Question" class="textbox" id="Question" required></br></br>
        <input type="text" name="option1" placeholder="option1" class="textbox" id="option1" required></br></br>
        <input type="text" name="option2" placeholder="option2" class="textbox" id="option2" required></br></br>
        <input type="text" name="option3" placeholder="option3" class="textbox" id="option3" required></br></br>
        <input type="text" name="option4" placeholder="option4" class="textbox" id="option4" required></br></br>
        <input type="datetime-local" name="start date" placeholder="start date" id="start date" required></br></br>
        <input type="datetime-local" name="end date" placeholder="end date" id="end date" required></br></br>
    </form>
</body>
</html>
